<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Area</title>
    <link rel="stylesheet" href="/styles/player-waiting-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=content_copy" />
    <link rel="icon" href="/web_icon.png">
</head>
<body>
    
    <div class="container">
        <div class="header-container">
            <p class="header">ROOM ID :
                <span id="room-id"></span>
                <span class="material-symbols-outlined" id ="copy-btn">content_copy</span>
            </p>
        </div>
        <div class="sub-container">
            <div class="player-container" id="player-container">
                <p class="header">Avaliable Players</p>
            </div>
            <div class="loader-container" id="loader">
                <p id="loader-text">waiting for player</p>
                <div class="loader" >
                    <div class="circle">
                        <div class="dot"></div>
                        <div class="outline"></div>
                    </div>
                    <div class="circle">
                        <div class="dot"></div>
                        <div class="outline"></div>
                    </div>
                    <div class="circle">
                        <div class="dot"></div>
                        <div class="outline"></div>
                    </div>
                    <div class="circle">
                        <div class="dot"></div>
                        <div class="outline"></div>
                    </div>
                </div>
            </div>
            <button id="start">Letss Goo</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let room_id = document.getElementById("room-id");
        let RoomID = "<%= RoomID %>";
        let playerNameContainer = document.getElementById("player-container");
        let loader_container = document.getElementById("loader");
        let button = document.getElementById("start");
        
        let startButtonFlag ="<%=startButtonFlag%>";
        let Player1Flag = "<%=loaderFlag %>"
        const playerNames = <%- JSON.stringify(playerName) %>;

        playerNames.forEach(element => {
            playerNameContainer.innerHTML+=`<p class="player-name">${element}</p>`
        });
        if(Player1Flag ==="true"){
            loader_container.style.visibility="visible";
            button.style.visibility = "hidden";
        }
        room_id.textContent = "<%= RoomID %>";

        if(Player1Flag != "true"){
            document.getElementById("loader-text").innerHTML="waiting To Start";
            loader_container.style.visibility="visible";
            button.style.visibility = "hidden";
        }

        const socket = io();

        if(Player1Flag === "true"){
            socket.emit('Player1joinRoom', RoomID);
            //adding the player 2 name to the list and enabling the start button and hidding the loading
            socket.on('player-2-Joined-Room',(playerName)=>{
                playerNameContainer.innerHTML+=`<p class="player-name">${playerName}</p>`;
                loader_container.style.visibility="hidden";
                button.style.visibility = "visible";
            })
            button.addEventListener('click',()=> {
                socket.emit("gameStarted", RoomID);
                socket.disconnect();
                fetch("/player1/player-move-page", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    window.location.href = "/player1/render/player-move-page";
                })

            })
        }else{
            socket.emit('Player2joinRoom', RoomID);
            socket.on("game-started",()=>{
                setTimeout(()=>{
                    window.location.href = "/player2/render/player-move-page";
                },1000)
                socket.disconnect();
            })
        }

        //copy button script
        document.getElementById("copy-btn").addEventListener("click", function() {
            // Use the Clipboard API
            navigator.clipboard.writeText(RoomID).then(() => {
                alert("Room ID copied!");
            })
        });

    </script>
    
</body>
</html>
